<% @comment ||= Comment.new %>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<%= f.label :title %><br/>
		<%= f.text_field :title %><br/>
		<br/>

		<%= f.label :comment %><br/>
		<%= f.text_area :content, :size => '50x20' %><br/>
		<br/>

		<%= f.hidden_field :post_id, :value => post %>
		<%= f.hidden_field :user_id, :value => (current_user.id if user_signed_in?) %>
		<!--<textarea id="comment_content" placeholder="Enter text ..."></textarea>-->
		<button class="btn btn-warning btn-lg">Post</button>
<% end %>
